<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>

<h1 class="text-danger text-center">About Us!</h1>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
<a href="{% url 'about' %}" class="btn btn-primary">About</a>
<a href="{% url 'contact' %}" class="btn btn-primary">Contact</a>

<p class="text-dark"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eius excepturi iste maiores necessitatibus, nostrum voluptatibus. Animi deserunt facere placeat rem repellendus vel. Deleniti dolores eaque, molestias odit rem reprehenderit?</span><span>Consectetur excepturi iusto molestias nisi, quisquam suscipit vel vitae. Ad animi, architecto deserunt distinctio eum exercitationem hic neque nihil nostrum odit officiis possimus provident quibusdam quod repellat sequi veniam voluptatem.</span></p>

<h2 class="text-danger text-center">Additional information</h2>
<p class="text-dark"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eligendi magnam nulla sed sit voluptatem! Accusamus aliquid debitis doloribus maiores modi necessitatibus nesciunt pariatur quam, quibusdam, quis rem repudiandae unde!</span><span>Accusamus alias consequuntur eos fugit, necessitatibus quos vitae. Culpa dolor dolore eum ex iure, nam nisi quisquam recusandae repellendus soluta temporibus totam voluptas voluptate! Alias ea facilis nostrum quia sunt.</span><span>Aliquam commodi ipsum iusto magni nesciunt praesentium recusandae reprehenderit sint vel. Commodi incidunt laudantium maiores provident. A accusamus, animi asperiores dolorum incidunt nobis perferendis rem saepe sequi suscipit? Ipsum, quidem?</span></p>



</body>
</html>