<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
        h1{
            text-align: center;
            background-color: black;
            color: white;
            font-size: 80px;
            font-weight: bolder;
            text-shadow: 12px 8px 12px yellow;
        }
    </style>

</head>
<body>

<h1>CareConnect</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum eum ex facilis fugiat officia tenetur ullam? A illo quas saepe? Asperiores explicabo illum nulla odit rem saepe temporibus! Quis.</span><span>Alias cum debitis esse, excepturi iste laboriosam perspiciatis provident vero. Accusantium aut dicta distinctio enim natus quas quo sequi voluptatum! Architecto cumque debitis dicta fuga iusto natus quisquam ullam vel.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque consectetur dignissimos error illo incidunt inventore itaque iusto magnam nesciunt nihil non odio perferendis quae sed sequi, similique vel voluptas.</span><span>Assumenda cupiditate earum illo labore recusandae. Asperiores incidunt, libero necessitatibus nulla omnis reprehenderit voluptatem. Ab laudantium sint voluptatibus! Asperiores blanditiis distinctio ducimus laborum neque nostrum saepe similique tempore voluptate voluptatem.</span><span>Doloremque ea excepturi in neque, recusandae tempore temporibus veritatis. A accusamus adipisci commodi corporis dignissimos ea earum esse expedita illum laborum nemo, nobis officiis quae quas quidem similique tenetur voluptatibus.</span></p>

<img src="{% static 'assets/image1.jpeg' %}" alt="">
<img src="{% static 'assets/image2.jpeg' %}" alt="">
<img src="{% static 'assets/image3.jpeg' %}" alt="">
<img src="{% static 'assets/image4.jpeg' %}" alt="">
<img src="{% static 'assets/image5.jpeg' %}" alt="">
<img src="{% static 'assets/image6.jpeg' %}" alt="">

</body>
</html>